# Data file (too large for GitHub)
creditcard.csv
Misc/
$aud_analyst_guide.docx

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Mac system files
.DS_Store

# Virtual environment
venv/
env/